{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Alexandre Bacco">
    <meta name="keywords" content="Symfony2, Symfony, Symfony2.1, Symfony2.2, tutoriel, tutorial, blog, checklist, livre, cours">
    <link rel="alternate" type="application/rss+xml" title="Un blog goutû sur Symfony2" href="{{ url('sdzblog_feed') }}">

    <title>{% block title %}Ecoledelafoi{% endblock %}</title>

    {% block stylesheets %}
      {# % stylesheets output='css/accueil.css' filter='cssrewrite, ?yui_css'
        'css/bootstrap.css'
        '@SdzBlogBundle/Resources/public/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets % #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
     <link rel="stylesheet" href="{{ asset('css/screen.css') }}" type="text/css" />
    
    {% endblock %}
  </head>

  <body>
    <div class="container">
       <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="#">Connexion</a></li>
                                <li><a href="#">Inscription</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>
           <hgroup>
                    <h2>{% block blog_title %}<a href="#">A l'Ecole de la foi</a>{% endblock %}</h2>
                    <h3>{% block blog_tagline %}<a href="#">La Foi Victorieuse Internationale. LYON France</a>{% endblock %}</h3>
           </hgroup>
         </header> 
    

      <div class="row">
        <div id="menu" class="span3">
          
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('sdzblog_accueil') }}">Accueil du blog</a></li>
                <li><a href="#">A propos</a></li>          
                <li><a href="#">Contact</a></li>
                {# On n'affiche le lien pour ajouter un article qu'aux utilisateurs disposant du rôle ROLE_AUTEUR #}
                {% if is_granted('ROLE_AUTEUR') %}
                  <li><a href="{{ path('sdzblog_ajouter') }}">Ajouter un sujet</a></li>

                {% endif %}
          </ul>
<hr>
          <!-- winzouCoreBundle::injectAdsense -->

          {# On affiche les 3 derniers articles #}
          {{ render(controller("SdzBlogBundle:Blog:menu", {'nombre': 3})) }}
<hr>
          {# On affiche un coin espace membre :
             * Si le membre est identifié : lien de déconnexion
             * Sinon : formulaire de connexion #}
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
         
            <h3>Membre</h3>
            <ul class="nav nav-pills nav-stacked">
              <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
              <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
              <li><a class="btn btn-primary btn-large" href="https://meet15579093.adobeconnect.com">
                      Accès dans la salle &raquo; </a></li>
            </ul>
          {# On affiche le formulaire de login, sauf sur la page de connexion #}
          {% elseif app.request.attributes.get('_route') != 'fos_user_security_login' %}
            
            <h3>Identification</h3>
            {{ render(controller('SdzUserBundle:Security:login')) }}       
            
           {% endif %}
  <hr>    {# On affiche le formulaire de l'Inscription, sauf sur la page de connexion #}      
            <h3>Inscription</h3>
             {{ render(controller('SdzUserBundle:Registration:register')) }}
     </div>

        {# Contenu central de la page #}
     <div id="content" class="span9">
          {% block body %}
          {% endblock %}
     </div>
  </div>

  <hr>

  <footer>
        <p>Réalisé par le Couple Josiane et Jean-Jacques DIASIVI © 2013.</p>
  </footer>
 </div>

    {% block javascripts %}
      {# jQuery depuis le CDN de Google, ou fallback sur une copie locale #}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.min.js') }}"><\/script>')</script>

      {# Tous nos javascripts avec Assetic #}
      {% javascripts output='js/main.js' filter='?yui_js'
        'js/bootstrap.js'
        '@SdzBlogBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}
        
  </body>
</html>