{# app/Resources/views/layout.html.twig #}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}BlogDias{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
     <link rel="stylesheet" href="{{ asset('css/accueil') }}" type="text/css" />
{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12" id="bandeau">
              <div class="page-header">
                <h2>Centre d'Etude Biblique </h2>
                    <h3>La foi victorieuse Internationale </h3>
                    <p>Lire, Etudier  et Mettre en pratique la Parole, car toutes les choses passeront mais pas La PAROLE.</p>
              </div>
            </div>
        </div>
        
        
        
        <div class="row">
            <div id="menu" class="span2">
                <h3>Menu</h3>
                    <ul class="nav nav-list">
                        <li><a href="{{ path('sdzblog_accueil') }}">Accueil du blog</a></li>
                        <li><a href="{{ path('sdzblog_ajouter') }}">Ajouter un sujet</a></li>
                    </ul>
                {#{ render(controller("SdzBlogBundle:Blog:menu", {'nombre': 3}))}#}
            </div>
            <div id="contenu" class="span10">
                <h2>Bienvenue sur mon site</h2>   
            {% block body %}
            {% endblock %}
            </div>
        </div>
        <hr>
    <footer>
        <p>Réalisé par le Couple   Josiane et Jean-Jacques DIASIVI © 2013.</p>
    </footer>
    </div>
{% block javascripts %}
{# Ajoutez ces lignes JavaScript si vous comptez vous servir des
fonctionnalités du bootstrap Twitter #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js')}}"></script>
{% endblock %}
</body>
</html>